@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
    --light-brown: #c4836c;
    --dark-brown: #ba8148;
    --bg-color: #f9f6ee;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#display-result{
    display: none;
}

/*  */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 1rem; */
    background: var(--bg-color);
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
    margin-top: 1.5rem;
    margin-bottom: 0;
    background-color: var(--bg-color);
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--light-brown);
    color: var(--light-brown);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--light-brown);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--light-brown);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--dark-brown);
}
.meal-result{

    background-color: var(--bg-color);
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: var(--light-brown);
    font-weight: 350;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;

}
.recipe-btn:hover{
    background: var(--dark-brown);
}

/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: var(--bg-color);
    background: var(--light-brown);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--light-brown);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--dark-brown);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow-y: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
}

.modal-content p p {
    margin-left: 20px; /* Adjust the left margin for nested paragraphs */
    text-align: left; /* Aligns nested paragraphs to the left */
}

.modal-content p li {
    margin-left: 350px;
    text-align: left; /* Adjust the left margin for nested paragraphs */
    /* Aligns nested paragraphs to the left */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}




a:link {
    color: #d65108;
    background-color: transparent;
    text-decoration: none;
}



a:visited {
    color: #b54507;
    background-color: transparent;
    text-decoration: none;
}



.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust this value to center vertically within the viewport */
}

/* Style the loader (example styles) */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

.loader-text{
    visibility: hidden;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.loading-message {
    display: none;
    font-size: 18px;
    margin-top: 10px; /* Add some margin to separate from the button */
    position: relative; /* Position relative for absolute positioning of dots */
}

/* Styling for the animated dots */
/* Styling for the animated dots */
.dots {
    display: inline-block;
    overflow: hidden;
    width: 1em;
    animation: dots 1.5s steps(3, end) infinite;
    position: relative; /* Keep it relative for positioning */
}

@keyframes dots {
    0%, 100% {
        content: '\00a0'; /* Use '\00a0' to insert a non-breaking space */
    }
    33% {
        content: '.\00a0';
    }
    66% {
        content: '..\00a0';
    }
}




/* Button Style */

#uploadForm button {
    border-radius: 30px;
    background-color: #c4836c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;

}

#uploadForm button:hover {
    background-color: #ba8148;
    color: white;
}

/* Input Style */
#photoInput {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Result Style */
#result {
    padding: 20px;

    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


li {
    margin: 5px; /* Adjust as needed */
}


.ingredient-identified-h3{
    margin-bottom: 10px;
}


.ingredient-ul {
    text-align: left;
    padding-left: 0pt;
    list-style-type: none;
    list-style-position: outside;
    list-style: none;
    padding: 0;
}

.ingredient-item {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.ingredient-checkbox {
    margin-right: 10px;
    accent-color: var(--dark-brown);
}

.ingredient-label {
    flex: 1; /* Take up remaining space in the flex container */
}

.action-button {
    border-radius: 30px;
    background-color: #c4836c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
}


/*File upload */
.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-input-label {
    border-radius: 30px;
    background-color: #c4836c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.selected-file-name {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.upload-button {
    visibility: hidden; 
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.file-input {
    display: none;
}


nav {
    background-color: var(--bg-color); /* Use the color from your root variables */
    margin-top: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* White color for the text */
    font-weight: 500;
    font-size: 1rem;
}

nav ul li a:hover {
    color: var(--dark-brown); /* Darker color on hover */
}