<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Recipe Generator Website</title>
        <link rel="stylesheet" href="../static/home.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Young+Serif">
        <link rel="icon" type="image/png" href="../static/images/fridge_logo.png">
    </head>
    <body>
        <div class="hero">
                <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Popular Recipes</a></li>
                </ul>
            </nav>
            <div class="content">
                <h1 class="animation" style="font-family: sans-serif;">Food Recipe<br>Generator</h1><br>
                <p class="animation"> Worlds unique flavors at home</p><br>
                <a href="/start" class="btn animation">Start Now</a>
            </div>
        </div>
    </body>
</html>

